# Игнорировать файлы и папки временных данных
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы конфигурации среды
.env
*.env

# Игнорировать файлы базы данных
*.db

# Игнорировать файлы зависимостей
*.egg-info/
dist/
build/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать файлы IDE
.vscode/
.idea/